//
// components.scss
//
//Buttons
@each $name,
$value in $colors {
    .btn-#{$name} {
        background-color: #{$value} !important;
        border: 1px solid #{$value} !important;
        color: $dark !important;
        box-shadow: 0 3px 7px rgba($value, 0.5);
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: darken($value, 10%) !important;
            border-color: darken($value, 10%) !important;
            color: $dark !important;
            transform: translateY(-2px);
        }
    }

    .btn-soft-#{$name} {
        background-color: rgba($value, 0.15) !important;
        border: 1px solid rgba($value, 0.1) !important;
        color: #{$value} !important;
        box-shadow: 0 3px 7px rgba($value, 0.20);
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: #{$value} !important;
            border-color: #{$value} !important;
            color: $dark !important;
            box-shadow: 0 3px 7px rgba($value, 0.5);
            transform: translateY(-2px);
        }
    }

    .btn-outline-#{$name} {
        border: 1px solid #{$value};
        color: #{$value};
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus, &:not(:disabled):not(.disabled):active{
            background-color: #{$value};
            border-color: #{$value};
            color: $dark;
            box-shadow: 0 3px 7px rgba($value, 0.5);
            transform: translateY(-2px);
        }
    }
}
.btn {
    &.btn-dark {
        color: $white !important;
        background: $dark;
        border: 1px solid $gray-100 !important;
        &:hover, &:focus, &:active, &.active, &.focus {
            background-color: darken($dark, 5%) !important;
            color: $white !important; 
        }
    }    
    &.btn-soft-dark {
        color: rgba($dark, 0.5) !important;
        border: 1px solid $gray-100 !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            color: $white !important; 
        }
    }    
    &.btn-outline-dark {
        border: 1px solid $gray-100 !important;
        color: $dark !important;
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus {
            background-color: $dark !important;
            color: $white !important;
        }
    }
    &.btn-light {
        color: $dark !important;
        border-color: darken($gray-200, 15%) !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: lighten($light, 10%) !important;
            color: $dark !important;
        }
    }    
    &.btn-soft-light {
        color: rgba($dark, 0.5) !important;
        border: 1px solid darken($gray-200, 15%) !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            color: $dark !important; 
        }
    }    
    &.btn-outline-light {
        border-color: darken($gray-200, 15%) !important;
        color: $dark !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: lighten($light, 10%) !important;
            color: $dark !important;
        }
    }
}

//Badges
@each $name,
$value in $colors {
    .badge-#{$name} {
        background-color: #{$value} !important;
        color: $white !important;
    }
}

//Alert
@each $name,
$value in $colors {
    .alert-#{$name} {
        background-color: lighten($value, 5%);
        color: $dark;
        border-color: $value;
        .alert-link {
            color: darken($value, 30%);
        }
    }
    .alert-outline-#{$name} {
        background-color: $white;
        color: $value;
        border-color: $value;
    }
}
.alert {
    &.alert-dark {
        background-color: $dark;
        color: $light;
        border-color: $gray-100;
    }
    &.alert-light {
        background-color: $light;
        color: $dark;
        border-color: $light;
    }
}

//Shadow 
.shadow {
    box-shadow: $shadow !important;
}

//Border
.border {
    border: 1px solid $gray-100 !important;
    &.border-light {
        border-color: $dark !important;
    }
}
.border-top {
    border-top: 1px solid $gray-100 !important;    
}
.border-bottom {
    border-bottom: 1px solid $gray-100 !important;    
}
.border-left {
    border-left: 1px solid $gray-100 !important;    
}
.border-right {
    border-right: 1px solid $gray-100 !important;    
}

//Nav
.nav-pills {
    background: darken($light, 1%);
    .nav-link {
        color: $gray-700 !important;
        &.active {
            color: $dark !important;
            .tab-para {
                color: $light !important;
            }
        }
    }
}

//Breadcrumbs
.breadcrumb {
    .breadcrumb-item {
        a {
            color: $dark;
        }
        &:after {
            color: $dark; 
        }     
    }
}

//Accordion
.accordion {
    .accordion-item {
        box-shadow: $shadow;
        .accordion-button {
            text-align: right !important;
            &.collapsed {
                background-color: $white;
                color: $dark !important;
                &:before {
                    color: $dark !important;
                }
            }
        }
    }
}

///Pagination
.pagination {
    .page-item {
        .page-link {
            color: $dark;
            border: 1px solid $gray-200;
            background-color: $white;
            &:hover {
                color: $dark;
            }
        }
        
        &.active {
            .page-link {
                color: $dark;
            }
        }
    }
}

//Form
.form-control {
    background-color: $white;
    border: 1px solid $gray-100;
    color: $dark;
    &[readonly] {
        background-color: $white;
    }
    &:disabled {
        background-color: $gray-100;
    }
} 

.form-check-input {
    background-color: $white;
    border-color: $gray-100;
}

//Subscribe form
.subscribe-form {
    input {
        color: $dark !important;
        background-color: rgba($white, 0.70);
    }
}

//Social icons
.social-icon {
    li {
        a {
            color: $dark;
            border: 1px solid $dark;
            &:hover {
                color: $dark !important;
            }
        }
    }
    &.foot-social-icon {
        li {
            a {
                color: $gray-300;
                border-color: lighten($footer, 5%);
            }
        }
    }
    &.social {
        li {
            a {
                color: $gray-300;
                border-color: $gray-300;
            }
        }
    }
}

//Table
.table-responsive {
    .table {
        color: $dark;
        td,
        th {
            border-color: $gray-100;
        }
        thead th {
            border-bottom-color: $gray-100;
        }
    } 
    .table-center {
        tbody {
            tr {
                &:hover {
                    color: $dark;
                    background-color: $light;
                }
            }
        }
    }
}
.table {
    border-color: $gray-100;
}

//
// _blog.scss
//
//Sidebar
.sidebar {
    .widget {
        .widget-search, .searchform { 
            input[type="text"] {
                background-color: $white;
                box-shadow: $shadow;
            }
            
            ::placeholder {
                color: $gray-200;
            }
        }
        .catagory{
            li {
                a {
                    color: $dark;
                }
            }
        }      
        .post-recent {
            .post-recent-content {
                a {
                    color: $dark;
                }
            }
        }
        .tagcloud {
            > a {
                background: $light;
                color: $dark;
                &:hover {
                    color: $dark;
                }
            }
        }
    }
}
//Single Blog
.media-list {
    .sub-comment {
        border-left: 2px dashed $gray-300;
    }
}

//
// cta.scss
//
.play-btn {
    color: $white;
}

//
// footer.scss
//
footer {
    &.footer {
        a {
            &:hover {
                color: darken($gray-300, 15%);
            }
        } 
        .footer-bar {
            border-top: 1px solid lighten($white, 7%);
        }
        .foot-subscribe {
            .form-control {
                background-color: lighten($footer, 2%);
                border: 1px solid lighten($footer, 2%);
                color: $dark;
            }
            &.foot-white {
                .form-control {
                    color: $gray-300;
                }
            }
            input{
                &::placeholder{
                    color: $gray-300;
                }
            }
        } 
        .text-foot {
            color: $gray-300;
        }
        &.footer-line {
            border-top: 1px solid lighten($white, 7%);            
        }
    }
}

//
// home.scss
//
//Domain Name
.domain-name {
    box-shadow: $shadow;
}

//
// pricing.scss
//
.pricing {
    &.hosting-rate {
        &:hover {
            box-shadow: $shadow-lg !important;
            .plan-name {
                color: $dark !important;
                .para {
                    color: rgba($dark, 0.5) !important;
                }
            }
        }
    }
}

.box-hover {
    &:hover {
        box-shadow: $shadow-lg !important;
    }
}

.ribbon {
    span {
        color: $dark;
    }
}

//
// service.scss
//
.services {
    &:hover {
        box-shadow: $shadow-lg;
        &.serv-primary {
            color: $dark !important;
            .icon2, 
            .para {
                color: rgba($dark, 0.5) !important;
            }
        }
    }
}

//
// _testimonial.scss
//
.client-bar {
    .content {
        &:before {
            border: 8px solid $dark;
            border-color: transparent $light $light transparent;
            box-shadow: 2px 2px 2px -1px rgba($dark, 0.15);
        }
    }
}