//
// helper.scss
//
.bg-overlay {
    background-color: $overlay;
}
.gradient-overlay {
    background: linear-gradient(to right, lighten($blue, 30%), $primary);
}

.bg-overlay-white {
    background: $overlay-white;
}

.home-shape-arrow {
    i {
        background: $light;
        box-shadow: $shadow;
    }
}


//Shapes
.shape {
    &.integration-hero {
        height: 100vh;
        background: $white;
    }
}

//Title
.title-dark {
    color: $dark !important;
}
.para-dark {
    color: $muted !important;
}
.title-white {
    color: $white !important;
}
.title-bg-dark {
    background: $dark !important;
}

.bg-white-dark {
    background: $white !important;
}